{:institution
 {:name "Psychoceramics Institute",
  :acronym ["PI"],
  :place ["Pittsburg, Arizona"],
  :department ["Soft furnishings"]},
 :reference-count 0,
 :publisher "Rockefeller University Press",
 :content-domain {:domain []},
 :short-container-title [],
 :published-print {:date-parts [[2017 4 19]]},
 :DOI "10.7287/peerj.2196v0.1/reviews/2",
 :type "peer-review",
 :created
 {:date-parts [[2018 1 9]],
  :date-time "2018-01-09T18:42:21Z",
  :timestamp 1515523341000},
 :source "Crossref",
 :is-referenced-by-count 0,
 :title
 ["Peer Review #2 of \"Tissue mortality by Caribbean ciliate infection and white band disease in three reef-building coral species (v0.1)\""],
 :prefix "10.7287",
 :author
 [{:ORCID "http://orcid.org/0000-0002-3368-4133",
   :authenticated-orcid false,
   :given "Xiaoguang",
   :family "Fang",
   :sequence "first",
   :affiliation []}],
 :member "291",
 :container-title [],
 :review
 {:type "referee-report",
  :running-number "RC1",
  :revision-round "2",
  :stage "pre-publication",
  :competing-interest-statement "There were no competing interests",
  :recommendation "major-revision",
  :language "en"},
 :original-title ["Der Titel"],
 :deposited
 {:date-parts [[2018 1 9]],
  :date-time "2018-01-09T18:42:21Z",
  :timestamp 1515523341000},
 :score 4.787492,
 :subtitle ["The Subtitle"],
 :short-title [],
 :issued {:date-parts [[2017 4 19]]},
 :references-count 0,
 :URL "http://dx.doi.org/10.7287/peerj.2196v0.1/reviews/2",
 :relation
 {:is-review-of
  [{:id-type "doi", :id "10.7717/peerj.2196", :asserted-by "subject"}]}}
