{:reference-count 0,
 :publisher "PeerJ",
 :content-domain {:domain []},
 :short-container-title [],
 :published-print {:date-parts [[2016 7 26]]},
 :DOI "10.7287/peerj.2196v0.1/reviews/2",
 :type "peer-review",
 :created
 {:date-parts [[2018 1 9]],
  :date-time "2018-01-09T23:59:03Z",
  :timestamp 1515542343000},
 :source "Crossref",
 :is-referenced-by-count 0,
 :title
 ["Peer Review #2 of \"Tissue mortality by Caribbean ciliate infection and white band disease in three reef-building coral species (v0.1)\""],
 :prefix "10.7287",
 :member "4443",
 :container-title [],
 :original-title [],
 :deposited
 {:date-parts [[2018 1 9]],
  :date-time "2018-01-09T23:59:03Z",
  :timestamp 1515542343000},
 :score 1.0,
 :subtitle [],
 :short-title [],
 :issued {:date-parts [[2016 7 26]]},
 :references-count 0,
 :URL "http://dx.doi.org/10.7287/peerj.2196v0.1/reviews/2",
 :relation
 {:is-review-of
  [{:id-type "doi", :id "10.7717/peerj.2196", :asserted-by "subject"}]}}
