(["http://dx.doi.org/10.1136/thoraxjnl-2014-205513"
  {:type :work,
   :id ("http://id.crossref.org/issn/0040-6376"),
   :rel
   {:title
    ({:type :title, :subtype :long, :value "Thorax"}
     {:type :title, :subtype :short, :value "Thorax"}),
    :issn
    ({:type :id,
      :subtype :issn,
      :kind :print,
      :value "http://id.crossref.org/issn/0040-6376",
      :original "0040-6376"}),
    :component
    ({:type :work,
      :rel
      {:published-print
       ({:type :date,
         :day "01",
         :month 3,
         :year "2015",
         :time-of-year nil}),
       :published-online
       ({:type :date,
         :day "16",
         :month 2,
         :year "2015",
         :time-of-year nil}),
       :component
       ({:type :work,
         :subtype :journal-volume,
         :volume "70",
         :rel
         {:component
          ({:type :work,
            :id ("http://dx.doi.org/10.1136/thoraxjnl-2014-205513"),
            :rel
            {:number
             ({:type :number,
               :kind "sequence-number",
               :value "thoraxjnl-2014-205513"}),
             :domains ("bmj.com"),
             :published-print
             ({:type :date,
               :day "01",
               :month 3,
               :year "2015",
               :time-of-year nil}),
             :domain-exclusive (true),
             :update-policy
             ({:type :id,
               :subtype :doi,
               :value "http://dx.doi.org/10.1136/crossmarkpolicy",
               :original "10.1136/crossmarkpolicy"}),
             :title
             ({:type :title,
               :subtype :long,
               :value
               "Investigating and managing suspected pulmonary embolism in an outpatient setting: the Leicester experience"}),
             :author
             ({:type :person,
               :first-name "Y.",
               :last-name "Vali",
               :sequence "first",
               :suffix nil}
              {:type :person,
               :first-name "R.",
               :last-name "Ladwa",
               :sequence "additional",
               :suffix nil}
              {:type :person,
               :first-name "E.",
               :last-name "Bailie",
               :sequence "additional",
               :suffix nil}
              {:type :person,
               :first-name "J.",
               :last-name "Bennett",
               :sequence "additional",
               :suffix nil}
              {:type :person,
               :first-name "C.",
               :last-name "Free",
               :sequence "additional",
               :suffix nil}),
             :published-online
             ({:type :date,
               :day "24",
               :month 4,
               :year "2014",
               :time-of-year nil}),
             :resource-resolution
             ({:type :url,
               :value
               "http://thorax.bmj.com/cgi/doi/10.1136/thoraxjnl-2014-205513"})},
            :subtype :journal-article,
            :first-page "291",
            :last-page "293",
            :other-pages nil})}})},
      :subtype :journal-issue,
      :numbering nil,
      :published-print
      {:type :date,
       :day "01",
       :month 3,
       :year "2015",
       :time-of-year nil},
      :published-online
      {:type :date,
       :day "16",
       :month 2,
       :year "2015",
       :time-of-year nil},
      :issue "3"}),
    :publisher
    [{:type :org,
      :name "BMJ",
      :journal-id "5583",
      :citation-id "68383024",
      :id
      ["http://id.crossref.org/member/239"
       "http://id.crossref.org/prefix/10.1136"]}],
    :relation (),
    :deposited
    [{:type :date,
      :year 2015,
      :month 2,
      :day 16,
      :hour 12,
      :minute 23,
      :second 19}],
    :first-deposited
    [{:type :date,
      :year 2014,
      :month 4,
      :day 25,
      :hour 3,
      :minute 58,
      :second 35}],
    :cited-count [0]},
   :subtype :journal,
   :language "en"}])
