/target
/lib
/classes
/checkouts
/data
/doc
/tmp/*
/log
pom.xml
.#*
*.class
*.pid
*.log
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
/src/cayenne/user.clj
out.json
out.txt
/dev-resources/feeds/feed-processed
.DS_Store
*.body
