{:items-per-page 20,
 :query {:start-index 40, :search-terms nil},
 :total-results 15965,
 :items
 ({:id "100000201",
   :location "United States",
   :name "U.S. Department of the Interior",
   :alt-names ["DOI" "Department of the Interior"],
   :uri "http://dx.doi.org/10.13039/100000201",
   :replaces [],
   :replaced-by [],
   :tokens
   ["us"
    "department"
    "of"
    "the"
    "interior"
    "doi"
    "department"
    "of"
    "the"
    "interior"]}
  {:id "100000204",
   :location "United States",
   :name "U.S. Department of Housing and Urban Development",
   :alt-names ["HUD"],
   :uri "http://dx.doi.org/10.13039/100000204",
   :replaces [],
   :replaced-by [],
   :tokens
   ["us"
    "department"
    "of"
    "housing"
    "and"
    "urban"
    "development"
    "hud"]}
  {:id "100000205",
   :location "United States",
   :name "Technology Opportunities Program",
   :alt-names ["TOP"],
   :uri "http://dx.doi.org/10.13039/100000205",
   :replaces [],
   :replaced-by [],
   :tokens ["technology" "opportunities" "program" "top"]}
  {:id "100000207",
   :location "United States",
   :name "U.S. Small Business Administration",
   :alt-names ["SBA"],
   :uri "http://dx.doi.org/10.13039/100000207",
   :replaces [],
   :replaced-by [],
   :tokens ["us" "small" "business" "administration" "sba"]}
  {:id "100000208",
   :location "United States",
   :name "Institute of Museum and Library Services",
   :alt-names ["IMLS"],
   :uri "http://dx.doi.org/10.13039/100000208",
   :replaces [],
   :replaced-by [],
   :tokens
   ["institute" "of" "museum" "and" "library" "services" "imls"]}
  {:id "100000297",
   :location "United States",
   :name "FRAXA Research Foundation",
   :alt-names ["FRAXA" "FRAXA Research Foundation, Inc."],
   :uri "http://dx.doi.org/10.13039/100000297",
   :replaces [],
   :replaced-by [],
   :tokens
   ["fraxa"
    "research"
    "foundation"
    "fraxa"
    "fraxa"
    "research"
    "foundation"
    "inc"]}
  {:id "100000307",
   :location "United States",
   :name "American Library Association",
   :alt-names ["ALA"],
   :uri "http://dx.doi.org/10.13039/100000307",
   :replaces [],
   :replaced-by [],
   :tokens ["american" "library" "association" "ala"]}
  {:id "100000308",
   :location "United States",
   :name "Carnegie Corporation of New York",
   :alt-names [],
   :uri "http://dx.doi.org/10.13039/100000308",
   :replaces [],
   :replaced-by [],
   :tokens ["carnegie" "corporation" "of" "new" "york"]}
  {:id "100000345",
   :location "United States",
   :name "McCormick Foundation",
   :alt-names
   ["RRM Foundations"
    "Robert R. McCormick Foundations"
    "Robert R. McCormick Foundation"],
   :uri "http://dx.doi.org/10.13039/100000345",
   :replaces [],
   :replaced-by [],
   :tokens
   ["mccormick"
    "foundation"
    "rrm"
    "foundations"
    "robert"
    "r"
    "mccormick"
    "foundations"
    "robert"
    "r"
    "mccormick"
    "foundation"]}
  {:id "100000738",
   :location "United States",
   :name "U.S. Department of Veterans Affairs",
   :alt-names ["Department of Veterans Affairs" "VA"],
   :uri "http://dx.doi.org/10.13039/100000738",
   :replaces [],
   :replaced-by [],
   :tokens
   ["us"
    "department"
    "of"
    "veterans"
    "affairs"
    "department"
    "of"
    "veterans"
    "affairs"
    "va"]}
  {:id "100000741",
   :location "United States",
   :name "National Archives and Records Administration",
   :alt-names ["NARA" "National Archives"],
   :uri "http://dx.doi.org/10.13039/100000741",
   :replaces [],
   :replaced-by [],
   :tokens
   ["national"
    "archives"
    "and"
    "records"
    "administration"
    "nara"
    "national"
    "archives"]}
  {:id "100000778",
   :location "United States",
   :name "U.S. Department of Labor",
   :alt-names ["DOL" "United States Department of Labor"],
   :uri "http://dx.doi.org/10.13039/100000778",
   :replaces [],
   :replaced-by [],
   :tokens
   ["us"
    "department"
    "of"
    "labor"
    "dol"
    "united"
    "states"
    "department"
    "of"
    "labor"]}
  {:id "100000810",
   :location "United States",
   :name "Woodrow Wilson International Center for Scholars",
   :alt-names ["Wilson Center"],
   :uri "http://dx.doi.org/10.13039/100000810",
   :replaces [],
   :replaced-by [],
   :tokens
   ["woodrow"
    "wilson"
    "international"
    "center"
    "for"
    "scholars"
    "wilson"
    "center"]}
  {:id "100000834",
   :location "United States",
   :name "Bernard Osher Foundation",
   :alt-names [],
   :uri "http://dx.doi.org/10.13039/100000834",
   :replaces [],
   :replaced-by [],
   :tokens ["bernard" "osher" "foundation"]}
  {:id "100000848",
   :location "United States",
   :name "United Negro College Fund Special Programs Corporation",
   :alt-names ["UNCFSP"],
   :uri "http://dx.doi.org/10.13039/100000848",
   :replaces [],
   :replaced-by [],
   :tokens
   ["united"
    "negro"
    "college"
    "fund"
    "special"
    "programs"
    "corporation"
    "uncfsp"]}
  {:id "100000850",
   :location "United States",
   :name "American Society for Engineering Education",
   :alt-names ["ASEE"],
   :uri "http://dx.doi.org/10.13039/100000850",
   :replaces [],
   :replaced-by [],
   :tokens
   ["american" "society" "for" "engineering" "education" "asee"]}
  {:id "100000861",
   :location "United States",
   :name "Burroughs Wellcome Fund",
   :alt-names ["BWF"],
   :uri "http://dx.doi.org/10.13039/100000861",
   :replaces [],
   :replaced-by [],
   :tokens ["burroughs" "wellcome" "fund" "bwf"]}
  {:id "100000862",
   :location "United States",
   :name "Doris Duke Charitable Foundation",
   :alt-names ["DDCF"],
   :uri "http://dx.doi.org/10.13039/100000862",
   :replaces [],
   :replaced-by [],
   :tokens ["doris" "duke" "charitable" "foundation" "ddcf"]}
  {:id "100000863",
   :location "United States",
   :name "Ellison Medical Foundation",
   :alt-names ["EMF"],
   :uri "http://dx.doi.org/10.13039/100000863",
   :replaces [],
   :replaced-by [],
   :tokens ["ellison" "medical" "foundation" "emf"]}
  {:id "100000864",
   :location "United States",
   :name "Michael J. Fox Foundation for Parkinson's Research",
   :alt-names ["MJFF" "Michael J. Fox Foundation"],
   :uri "http://dx.doi.org/10.13039/100000864",
   :replaces [],
   :replaced-by [],
   :tokens
   ["michael"
    "j"
    "fox"
    "foundation"
    "for"
    "parkinsons"
    "research"
    "mjff"
    "michael"
    "j"
    "fox"
    "foundation"]})}
