{:items-per-page 20,
 :query {:start-index 20, :search-terms nil},
 :total-results 15965,
 :items
 ({:id "100000063",
   :location "United States",
   :name "Office of Dietary Supplements",
   :alt-names ["ODS"],
   :uri "http://dx.doi.org/10.13039/100000063",
   :replaces [],
   :replaced-by [],
   :tokens ["office" "of" "dietary" "supplements" "ods"]}
  {:id "100000073",
   :location "United States",
   :name "Autism Speaks",
   :alt-names ["Autism Speaks, Inc." "Autism Speaks Inc."],
   :uri "http://dx.doi.org/10.13039/100000073",
   :replaces [],
   :replaced-by [],
   :tokens
   ["autism" "speaks" "autism" "speaks" "inc" "autism" "speaks" "inc"]}
  {:id "100000074",
   :location "United States",
   :name "U.S. Department of Justice",
   :alt-names ["DOJ" "United States Department of Justice"],
   :uri "http://dx.doi.org/10.13039/100000074",
   :replaces [],
   :replaced-by [],
   :tokens
   ["us"
    "department"
    "of"
    "justice"
    "doj"
    "united"
    "states"
    "department"
    "of"
    "justice"]}
  {:id "100000080",
   :location "United States",
   :name "Anesthesia Patient Safety Foundation",
   :alt-names ["APSF"],
   :uri "http://dx.doi.org/10.13039/100000080",
   :replaces [],
   :replaced-by [],
   :tokens ["anesthesia" "patient" "safety" "foundation" "apsf"]}
  {:id "100000103",
   :location "United States",
   :name "National Endowment for the Humanities",
   :alt-names ["NEH"],
   :uri "http://dx.doi.org/10.13039/100000103",
   :replaces [],
   :replaced-by [],
   :tokens ["national" "endowment" "for" "the" "humanities" "neh"]}
  {:id "100000104",
   :location "United States",
   :name "National Aeronautics and Space Administration",
   :alt-names ["NASA"],
   :uri "http://dx.doi.org/10.13039/100000104",
   :replaces [],
   :replaced-by [],
   :tokens
   ["national" "aeronautics" "and" "space" "administration" "nasa"]}
  {:id "100000107",
   :location "United States",
   :name "Science of Learning Centers",
   :alt-names ["SLC"],
   :uri "http://dx.doi.org/10.13039/100000107",
   :replaces [],
   :replaced-by [],
   :tokens ["science" "of" "learning" "centers" "slc"]}
  {:id "100000108",
   :location "United States",
   :name "National Science Digital Library",
   :alt-names ["NSDL"],
   :uri "http://dx.doi.org/10.13039/100000108",
   :replaces [],
   :replaced-by [],
   :tokens ["national" "science" "digital" "library" "nsdl"]}
  {:id "100000110",
   :location "United States",
   :name "Nanotechnology Initiative",
   :alt-names [],
   :uri "http://dx.doi.org/10.13039/100000110",
   :replaces [],
   :replaced-by [],
   :tokens ["nanotechnology" "initiative"]}
  {:id "100000132",
   :location "United States",
   :name "Transportation Research Board",
   :alt-names ["TRB"],
   :uri "http://dx.doi.org/10.13039/100000132",
   :replaces [],
   :replaced-by [],
   :tokens ["transportation" "research" "board" "trb"]}
  {:id "100000138",
   :location "United States",
   :name "U.S. Department of Education",
   :alt-names ["ED"],
   :uri "http://dx.doi.org/10.13039/100000138",
   :replaces [],
   :replaced-by [],
   :tokens ["us" "department" "of" "education" "ed"]}
  {:id "100000139",
   :location "United States",
   :name "U.S. Environmental Protection Agency",
   :alt-names
   ["US Environmental Protection Agency"
    "United States Environmental Protection Agency"
    "EPA"
    "U.S. EPA"],
   :uri "http://dx.doi.org/10.13039/100000139",
   :replaces [],
   :replaced-by [],
   :tokens
   ["us"
    "environmental"
    "protection"
    "agency"
    "us"
    "environmental"
    "protection"
    "agency"
    "united"
    "states"
    "environmental"
    "protection"
    "agency"
    "epa"
    "us"
    "epa"]}
  {:id "100000140",
   :location "United States",
   :name "U.S. Department of Transportation",
   :alt-names ["DOT"],
   :uri "http://dx.doi.org/10.13039/100000140",
   :replaces [],
   :replaced-by [],
   :tokens ["us" "department" "of" "transportation" "dot"]}
  {:id "100000142",
   :location "United States",
   :name "Avon Foundation for Women",
   :alt-names ["Avon Products Foundation, Inc." "Avon Foundation"],
   :uri "http://dx.doi.org/10.13039/100000142",
   :replaces [],
   :replaced-by [],
   :tokens
   ["avon"
    "foundation"
    "for"
    "women"
    "avon"
    "products"
    "foundation"
    "inc"
    "avon"
    "foundation"]}
  {:id "100000180",
   :location "United States",
   :name "U.S. Department of Homeland Security",
   :alt-names
   ["Department of Homeland Security"
    "DHS"
    "United States Department of Homeland Security"
    "Homeland Security"],
   :uri "http://dx.doi.org/10.13039/100000180",
   :replaces [],
   :replaced-by [],
   :tokens
   ["us"
    "department"
    "of"
    "homeland"
    "security"
    "department"
    "of"
    "homeland"
    "security"
    "dhs"
    "united"
    "states"
    "department"
    "of"
    "homeland"
    "security"
    "homeland"
    "security"]}
  {:id "100000190",
   :location "United States",
   :name "U.S. Department of Commerce",
   :alt-names ["DOC"],
   :uri "http://dx.doi.org/10.13039/100000190",
   :replaces [],
   :replaced-by [],
   :tokens ["us" "department" "of" "commerce" "doc"]}
  {:id "100000193",
   :location "United States",
   :name "National Endowment for the Arts",
   :alt-names ["NEA"],
   :uri "http://dx.doi.org/10.13039/100000193",
   :replaces [],
   :replaced-by [],
   :tokens ["national" "endowment" "for" "the" "arts" "nea"]}
  {:id "100000194",
   :location "United States",
   :name "U.S. Department of State",
   :alt-names
   ["Department of State" "DOS" "United States Department of State"],
   :uri "http://dx.doi.org/10.13039/100000194",
   :replaces [],
   :replaced-by [],
   :tokens
   ["us"
    "department"
    "of"
    "state"
    "department"
    "of"
    "state"
    "dos"
    "united"
    "states"
    "department"
    "of"
    "state"]}
  {:id "100000199",
   :location "United States",
   :name "U.S. Department of Agriculture",
   :alt-names ["United States Department of Agriculture" "USDA"],
   :uri "http://dx.doi.org/10.13039/100000199",
   :replaces [],
   :replaced-by [],
   :tokens
   ["us"
    "department"
    "of"
    "agriculture"
    "united"
    "states"
    "department"
    "of"
    "agriculture"
    "usda"]}
  {:id "100000200",
   :location "United States",
   :name "United States Agency for International Development",
   :alt-names ["USAID" "U.S. Agency for International Development"],
   :uri "http://dx.doi.org/10.13039/100000200",
   :replaces [],
   :replaced-by [],
   :tokens
   ["united"
    "states"
    "agency"
    "for"
    "international"
    "development"
    "usaid"
    "us"
    "agency"
    "for"
    "international"
    "development"]})}
