{:items-per-page 20,
 :query {:start-index 0, :search-terms nil},
 :total-results 15965,
 :items
 ({:id "100000001",
   :location "United States",
   :name "National Science Foundation",
   :alt-names ["NSF"],
   :uri "http://dx.doi.org/10.13039/100000001",
   :replaces [],
   :replaced-by [],
   :tokens ["national" "science" "foundation" "nsf"]}
  {:id "100000003",
   :location "United States",
   :name "Boeing",
   :alt-names ["Boeing Company"],
   :uri "http://dx.doi.org/10.13039/100000003",
   :replaces [],
   :replaced-by [],
   :tokens ["boeing" "boeing" "company"]}
  {:id "100000005",
   :location "United States",
   :name "U.S. Department of Defense",
   :alt-names
   ["DOD"
    "Department of Defense"
    "United States Department of Defense"],
   :uri "http://dx.doi.org/10.13039/100000005",
   :replaces [],
   :replaced-by [],
   :tokens
   ["us"
    "department"
    "of"
    "defense"
    "dod"
    "department"
    "of"
    "defense"
    "united"
    "states"
    "department"
    "of"
    "defense"]}
  {:id "100000008",
   :location "United States",
   :name "David and Lucile Packard Foundation",
   :alt-names ["David & Lucile Packard Foundation"],
   :uri "http://dx.doi.org/10.13039/100000008",
   :replaces [],
   :replaced-by [],
   :tokens
   ["david"
    "and"
    "lucile"
    "packard"
    "foundation"
    "david"
    "&"
    "and"
    "lucile"
    "packard"
    "foundation"]}
  {:id "100000009",
   :location "United States",
   :name "Foundation for the National Institutes of Health",
   :alt-names
   ["FNIH"
    "Foundation for the National Institutes of Health, Inc."
    "Foundation for the NIH"],
   :uri "http://dx.doi.org/10.13039/100000009",
   :replaces [],
   :replaced-by [],
   :tokens
   ["foundation"
    "for"
    "the"
    "national"
    "institutes"
    "of"
    "health"
    "fnih"
    "foundation"
    "for"
    "the"
    "national"
    "institutes"
    "of"
    "health"
    "inc"
    "foundation"
    "for"
    "the"
    "nih"]}
  {:id "100000010",
   :location "United States",
   :name "Ford Foundation",
   :alt-names [],
   :uri "http://dx.doi.org/10.13039/100000010",
   :replaces [],
   :replaced-by [],
   :tokens ["ford" "foundation"]}
  {:id "100000011",
   :location "United States",
   :name "Howard Hughes Medical Institute",
   :alt-names ["HHMI"],
   :uri "http://dx.doi.org/10.13039/100000011",
   :replaces [],
   :replaced-by [],
   :tokens ["howard" "hughes" "medical" "institute" "hhmi"]}
  {:id "100000014",
   :location "United States",
   :name "Smithsonian Institution",
   :alt-names ["SI" "Smithsonian"],
   :uri "http://dx.doi.org/10.13039/100000014",
   :replaces [],
   :replaced-by [],
   :tokens ["smithsonian" "institution" "si" "smithsonian"]}
  {:id "100000015",
   :location "United States",
   :name "U.S. Department of Energy",
   :alt-names ["DOE"],
   :uri "http://dx.doi.org/10.13039/100000015",
   :replaces [],
   :replaced-by [],
   :tokens ["us" "department" "of" "energy" "doe"]}
  {:id "100000016",
   :location "United States",
   :name "U.S. Department of Health and Human Services",
   :alt-names ["U.S. Department of Health & Human Services" "HHS"],
   :uri "http://dx.doi.org/10.13039/100000016",
   :replaces [],
   :replaced-by [],
   :tokens
   ["us"
    "department"
    "of"
    "health"
    "and"
    "human"
    "services"
    "us"
    "department"
    "of"
    "health"
    "&"
    "and"
    "human"
    "services"
    "hhs"]}
  {:id "100000019",
   :location "United States",
   :name "National Hemophilia Foundation",
   :alt-names ["NHF"],
   :uri "http://dx.doi.org/10.13039/100000019",
   :replaces [],
   :replaced-by [],
   :tokens ["national" "hemophilia" "foundation" "nhf"]}
  {:id "100000028",
   :location "United States",
   :name "Semiconductor Research Corporation",
   :alt-names ["SRC"],
   :uri "http://dx.doi.org/10.13039/100000028",
   :replaces [],
   :replaced-by [],
   :tokens ["semiconductor" "research" "corporation" "src"]}
  {:id "100000040",
   :location "United States",
   :name "American Parkinson's Disease Foundation",
   :alt-names ["APDA"],
   :uri "http://dx.doi.org/10.13039/100000040",
   :replaces [],
   :replaced-by [],
   :tokens ["american" "parkinsons" "disease" "foundation" "apda"]}
  {:id "100000041",
   :location "United States",
   :name "American Diabetes Association",
   :alt-names ["ADA"],
   :uri "http://dx.doi.org/10.13039/100000041",
   :replaces ["100000963"],
   :replaced-by [],
   :tokens ["american" "diabetes" "association" "ada"]}
  {:id "100000042",
   :location "United States",
   :name "Amgen Foundation",
   :alt-names ["Amgen Foundation, Inc."],
   :uri "http://dx.doi.org/10.13039/100000042",
   :replaces [],
   :replaced-by [],
   :tokens ["amgen" "foundation" "amgen" "foundation" "inc"]}
  {:id "100000043",
   :location "United States",
   :name "American Association for Cancer Research",
   :alt-names
   ["American Association for Cancer Research, Inc." "AACR"],
   :uri "http://dx.doi.org/10.13039/100000043",
   :replaces [],
   :replaced-by [],
   :tokens
   ["american"
    "association"
    "for"
    "cancer"
    "research"
    "american"
    "association"
    "for"
    "cancer"
    "research"
    "inc"
    "aacr"]}
  {:id "100000045",
   :location "United States",
   :name "Aetna Foundation",
   :alt-names [],
   :uri "http://dx.doi.org/10.13039/100000045",
   :replaces [],
   :replaced-by [],
   :tokens ["aetna" "foundation"]}
  {:id "100000046",
   :location "United States",
   :name "Abbott Fund",
   :alt-names [],
   :uri "http://dx.doi.org/10.13039/100000046",
   :replaces [],
   :replaced-by [],
   :tokens ["abbott" "fund"]}
  {:id "100000047",
   :location "United States",
   :name "Annenberg Foundation",
   :alt-names [],
   :uri "http://dx.doi.org/10.13039/100000047",
   :replaces [],
   :replaced-by [],
   :tokens ["annenberg" "foundation"]}
  {:id "100000048",
   :location "United States",
   :name "American Cancer Society",
   :alt-names ["American Cancer Society, Inc." "ACS"],
   :uri "http://dx.doi.org/10.13039/100000048",
   :replaces [],
   :replaced-by [],
   :tokens
   ["american"
    "cancer"
    "society"
    "american"
    "cancer"
    "society"
    "inc"
    "acs"]})}
