{:facets {},
 :total-results 2,
 :items
 ({:reference-count 0,
   :publisher "PeerJ",
   :content-domain {:domain []},
   :published-print {:date-parts [[2015 7 14]]},
   :DOI "10.7287/peerj.1078v0.2/reviews/1",
   :type "peer-review",
   :created
   {:date-parts [[2018 1 10]],
    :date-time "2018-01-10T17:22:19Z",
    :timestamp 1515604939000},
   :source "Crossref",
   :is-referenced-by-count 0,
   :title
   ["Peer Review #1 of \"Multimodal Imaging Brain Connectivity Analysis (MIBCA) toolbox (v0.2)\""],
   :prefix "10.7287",
   :member "4443",
   :deposited
   {:date-parts [[2018 1 10]],
    :date-time "2018-01-10T17:22:19Z",
    :timestamp 1515604939000},
   :score 4.049763,
   :issued {:date-parts [[2015 7 14]]},
   :references-count 0,
   :URL "http://dx.doi.org/10.7287/peerj.1078v0.2/reviews/1",
   :relation
   {:is-review-of
    [{:id-type "doi",
      :id "10.7717/peerj.1078",
      :asserted-by "subject"}]}}
  {:reference-count 0,
   :publisher "PeerJ",
   :content-domain {:domain []},
   :published-print {:date-parts [[2016 7 26]]},
   :DOI "10.7287/peerj.2196v0.1/reviews/2",
   :type "peer-review",
   :created
   {:date-parts [[2018 1 9]],
    :date-time "2018-01-09T23:59:03Z",
    :timestamp 1515542343000},
   :source "Crossref",
   :is-referenced-by-count 0,
   :title
   ["Peer Review #2 of \"Tissue mortality by Caribbean ciliate infection and white band disease in three reef-building coral species (v0.1)\""],
   :prefix "10.7287",
   :member "4443",
   :deposited
   {:date-parts [[2018 1 9]],
    :date-time "2018-01-09T23:59:03Z",
    :timestamp 1515542343000},
   :score 3.0164347,
   :issued {:date-parts [[2016 7 26]]},
   :references-count 0,
   :URL "http://dx.doi.org/10.7287/peerj.2196v0.1/reviews/2",
   :relation
   {:is-review-of
    [{:id-type "doi",
      :id "10.7717/peerj.2196",
      :asserted-by "subject"}]}}),
 :items-per-page 20,
 :query {:start-index 0, :search-terms nil}}
