("is-IS" "km-KH" "bg-BG" "pt-PT" "ru-RU" "tr-TR" "et-EE" "ar-AR" "da-DK" "de-AT" "fr-CA" "de-CH" "pt-BR" "sl-SI" "es-CL" "eu" "hu-HU" "mn-MN" "uk-UA" "ca-AD" "lv-LV" "fi-FI" "hr-HR" "zh-CN" "en-US" "sv-SE" "lt-LT" "zh-TW" "sk-SK" "ko-KR" "he-IL" "de-DE" "cs-CZ" "fr-FR" "nn-NO" "nb-NO" "af-ZA" "fa-IR" "ja-JP" "vi-VN" "ro-RO" "it-IT" "en-GB" "pl-PL" "sr-RS" "nl-NL" "el-GR" "th-TH" "es-ES")