("he-IL" "ko-KR" "pt-BR" "fr-FR" "sk-SK" "af-ZA" "nb-NO" "mn-MN" "ru-RU" "zh-CN" "de-CH" "tr-TR" "ar-AR" "is-IS" "cs-CZ" "de-DE" "hu-HU" "es-ES" "pt-PT" "uk-UA" "ca-AD" "el-GR" "pl-PL" "lt-LT" "sr-RS" "bg-BG" "nl-NL" "fr-CA" "zh-TW" "vi-VN" "en-US" "et-EE" "de-AT" "hr-HR" "sv-SE" "ja-JP" "ro-RO" "th-TH" "lv-LV" "nn-NO" "fa-IR" "fi-FI" "it-IT" "da-DK" "en-GB" "sl-SI" "es-CL" "eu" "km-KH")