{:counts {:current-dois 76, :backfile-dois 0, :total-dois 76},
 :breakdowns {:dois-by-issued-year [[2017 73] [2016 3]]},
 :publisher "Elsevier ",
 :coverage
 {:affiliations-current 0.0,
  :similarity-checking-current 0.0,
  :funders-backfile 0.0,
  :licenses-backfile 0.0,
  :funders-current 0.3421052631578947,
  :affiliations-backfile 0.0,
  :resource-links-backfile 0.0,
  :orcids-backfile 0.0,
  :update-policies-current 1.0,
  :open-references-backfile 0.0,
  :orcids-current 0.0,
  :similarity-checking-backfile 0.0,
  :references-backfile 0.0,
  :award-numbers-backfile 0.0,
  :update-policies-backfile 0.0,
  :licenses-current 1.0,
  :award-numbers-current 0.0,
  :abstracts-backfile 0.0,
  :resource-links-current 1.0,
  :abstracts-current 0.0,
  :open-references-current 0.0,
  :references-current 0.0},
 :title "Psychoneuroendocrinology",
 :subjects [],
 :counts-type
 {:all {:journal-article 76},
  :current {:journal-article 76},
  :backfile {}},
 :coverage-type
 {:all
  {:journal-article
   {:affiliations 0.0,
    :abstracts 0.0,
    :orcids 0.0,
    :licenses 1.0,
    :references 0.0,
    :funders 0.3421052631578947,
    :similarity-checking 0.0,
    :award-numbers 0.0,
    :update-policies 1.0,
    :resource-links 1.0,
    :open-references 0.0}},
  :current
  {:journal-article
   {:affiliations 0.0,
    :abstracts 0.0,
    :orcids 0.0,
    :licenses 1.0,
    :references 0.0,
    :funders 0.3421052631578947,
    :similarity-checking 0.0,
    :award-numbers 0.0,
    :update-policies 1.0,
    :resource-links 1.0,
    :open-references 0.0}},
  :backfile {}},
 :flags
 {:deposits-abstracts-current false,
  :deposits-orcids-current false,
  :deposits true,
  :deposits-affiliations-backfile false,
  :deposits-update-policies-backfile false,
  :deposits-similarity-checking-backfile false,
  :deposits-award-numbers-current false,
  :deposits-resource-links-current true,
  :deposits-articles true,
  :deposits-affiliations-current false,
  :deposits-funders-current true,
  :deposits-references-backfile false,
  :deposits-abstracts-backfile false,
  :deposits-licenses-backfile false,
  :deposits-award-numbers-backfile false,
  :deposits-open-references-backfile false,
  :deposits-open-references-current false,
  :deposits-references-current false,
  :deposits-resource-links-backfile false,
  :deposits-orcids-backfile false,
  :deposits-funders-backfile false,
  :deposits-update-policies-current true,
  :deposits-similarity-checking-current false,
  :deposits-licenses-current true},
 :ISSN ["0306-4530"],
 :issn-type [{:value "0306-4530", :type "print"}]}
