{:counts {:total-dois 76, :current-dois 76, :backfile-dois 0},
 :breakdowns {:dois-by-issued-year [[2017 73] [2016 3]]},
 :publisher "Elsevier ",
 :coverage
 {:affiliations-current 0.0,
  :similarity-checking-current 0.0,
  :funders-backfile 0.0,
  :licenses-backfile 0.0,
  :funders-current 0.34210526943206787,
  :affiliations-backfile 0.0,
  :resource-links-backfile 0.0,
  :orcids-backfile 0.0,
  :update-policies-current 1.0,
  :open-references-backfile 0.0,
  :orcids-current 0.0,
  :similarity-checking-backfile 0.0,
  :references-backfile 0.0,
  :award-numbers-backfile 0.0,
  :update-policies-backfile 0.0,
  :licenses-current 1.0,
  :award-numbers-current 0.22368420660495758,
  :abstracts-backfile 0.0,
  :resource-links-current 1.0,
  :abstracts-current 0.0,
  :open-references-current 0.0,
  :references-current 0.0},
 :title "Psychoneuroendocrinology",
 :subjects [],
 :coverage-type
 {:all
  {:affiliations 0.0,
   :affiliations 0.0,
   :orcids 0.0,
   :licenses 1.0,
   :references 0.0,
   :funders 0.34210526943206787,
   :similarity-checking 0.0,
   :award-numbers 0.22368420660495758,
   :update-policies 1.0,
   :resource-links 1.0,
   :open-references 0.0},
  :backfile
  {:affiliations 0.0,
   :affiliations 0.0,
   :orcids 0.0,
   :licenses 0.0,
   :references 0.0,
   :funders 0.0,
   :similarity-checking 0.0,
   :award-numbers 0.0,
   :update-policies 0.0,
   :resource-links 0.0,
   :open-references 0.0},
  :current
  {:affiliations 0.0,
   :affiliations 0.0,
   :orcids 0.0,
   :licenses 1.0,
   :references 0.0,
   :funders 0.34210526943206787,
   :similarity-checking 0.0,
   :award-numbers 0.22368420660495758,
   :update-policies 1.0,
   :resource-links 1.0,
   :open-references 0.0}},
 :flags
 {:deposits-abstracts-current false,
  :deposits-orcids-current false,
  :deposits true,
  :deposits-affiliations-backfile false,
  :deposits-update-policies-backfile false,
  :deposits-similarity-checking-backfile false,
  :deposits-award-numbers-current true,
  :deposits-resource-links-current true,
  :deposits-articles true,
  :deposits-affiliations-current false,
  :deposits-funders-current true,
  :deposits-references-backfile false,
  :deposits-abstracts-backfile false,
  :deposits-licenses-backfile false,
  :deposits-award-numbers-backfile false,
  :deposits-open-references-backfile false,
  :deposits-open-references-current false,
  :deposits-references-current false,
  :deposits-resource-links-backfile false,
  :deposits-orcids-backfile false,
  :deposits-funders-backfile false,
  :deposits-update-policies-current true,
  :deposits-similarity-checking-current false,
  :deposits-licenses-current true},
 :ISSN ["0306-4530"],
 :issn-type [{:value "0306-4530", :type "print"}]}
