{:hierarchy-names nil, :replaced-by nil, :work-count 0, :name "Aberystwyth University", :descendants nil, :descendant-work-count 0, :id "501100000315", :tokens ["university" "aberystwyth"], :replaces nil, :uri "http://dx.doi.org/10.13039/501100000315", :hierarchy nil, :alt-names nil, :location nil}